@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 60px;
}
.logo img {
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul {
  display: flex;
  list-style: none;
}
.menu ul li {
  line-height: 51px;
  padding: 5px;
  font-size: 12px;
  color: black;
}
.menu ul li:hover {
  border-bottom: solid 3px #0282F9;
}
.menu ul li a {
  text-decoration: none;
  color: black;
}
.menu ul li a.active {
  border-bottom: solid 3px #0282F9;
}

.main-container {
  position: relative;
  background-color: #1C1C1C;
  color: white;
  padding-left: 0;
}
.main-container .jumbotron {
  height: 275px;
}
.main-container .jumbotron img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0;
     object-position: 100% 0;
}
.main-container .current-series {
  width: 187px;
  background-color: #0282F9;
  color: white;
  font-weight: bold;
  padding: 10px 30px 10px 30px;
  position: absolute;
  top: 253px;
  left: 202px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.boxes .btn {
  background-color: #0282F9;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.productCard {
  flex-basis: 16.6%;
  height: 160px;
  border: solid 10px #1C1C1C;
  margin-top: 40px;
  margin-bottom: 40px;
}
.productCard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 0;
     object-position: 100% 0;
}
.productCard h6 {
  font-weight: lighter;
  padding-top: 10px;
  text-transform: uppercase;
}

.bf-container {
  background-color: #0282F9;
  color: white;
}
.bf-container .bf-img {
  width: 35px;
}
.bf-container .bf-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bf-container .bf-box span {
  padding: 10px;
  font-size: 12px;
}
.bf-container .container {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding: 30px;
}

.footer-container-up {
  width: 100%;
  background-image: url("../img/footer-bg.jpg");
}
.footer-container-up .container {
  display: flex;
  justify-content: space-between;
}
.footer-container-up .left-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container-up .left-block h4 {
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}
.footer-container-up .left-block ul {
  list-style: none;
}
.footer-container-up .left-block ul li {
  font-size: 12px;
  color: #616A6C;
}
.footer-container-up .left-block ul li a {
  text-decoration: none;
  color: #616A6C;
}
.footer-container-up .left-block .centre-links {
  margin-top: -15px;
}
.footer-container-up .left-block .right-links {
  margin-top: -115px;
}
.footer-container-up .left-block, .footer-container-up .right-block {
  width: 40%;
}

.footer-container-down {
  width: 100%;
  background-color: #303030;
  padding: 50px;
}
.footer-container-down .btn {
  padding: 10px;
  background-color: #303030;
  color: white;
  font-weight: bold;
  border: 2px solid #0282F9;
}
.footer-container-down h4 {
  color: #0282F9;
}
.footer-container-down .social {
  width: 25px;
}
.footer-container-down .right-container-down {
  width: 285px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}