.bf-container{
    background-color: #0282F9;
    color: white;
    .bf-img{
      width: 35px;
    }

    .bf-box{
      @include center();
      span{
        padding: 10px;
        font-size: 12px;
      }
    }

    
  .container{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding: 30px;
  }
  }
